* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: $fontFamily;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: textfield;
}

input[type="radio"],
input[type="checkbox"], {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button {
  display: block;
  background-color: $basic-green;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $basic-green2;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &--light {
    background-color: $basic-grey;
    color: $special-dark-grey;
    font-size: 16px;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($special-dark-grey, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding: 16px 0;
  }
}

.input,
.textarea {
  width: 100%;
  padding: 13px 15px 12px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey2;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: #212735;
    box-shadow: inset 0 0 0 1px #212735;
    outline: 0;
  }

  &::placeholder {
    color: $special-dark-grey;
    opacity: 1;
  }
}

.input {
  height: 45px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    height: 50px;
  }
}

.textarea {
  height: 150px;
  padding-right: 10px;
  resize: none;

  @media (min-width: $tablet-width) {
    height: 170px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 4px;
    padding-left: 19px;
  }
}

.label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-right: 13px;
  color: $special-dark-grey;

  &--radio,
  &--checkbox {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 46px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;
    user-select: none;
  }

  &--radio::before,
  &--checkbox::before {
    content: "";
    position: absolute;
    display: block;
    top: 6px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    border-color: #bababa;
  }

  &--radio:active,
  &--checkbox:active {
    opacity: 0.3;
  }

  &--radio {
    &::before {
      padding: 8px;
      border-radius: 50%;
    }
  }

  &--checkbox {
    &::before {
      padding: 6px 3px 6px 4px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;

    &--radio::before,
    &--checkbox::before {
      width: 40px;
      height: 40px;
    }

    &--radio,
    &--checkbox {
      font-size: 20px;
      line-height: 29px;
      padding-left: 59px;
    }
  }
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
  }
}

.radio {
  &:checked ~ .label--radio::before {
    background-color: #68b738;
    background-clip: content-box;
  }
}

.checkbox {
  &:checked ~ .label--checkbox::before {
    background: url("../img/icons/tick.svg") no-repeat center;
    background-size: 21px auto;
    background-clip: content-box;
  }
}
