//<Шрифт по умолчанию>
$fontFamily: "Oswald";

//<Используемые цвета>
$basicGreen: #68b738;
$basicGrey: #f2f2f2;
$specialGrey: #cdcdcd;
$specialGrey2: #666666;
$specialDarkGrey: #444444;
$specialDarkGrey2: #222222;
