.header {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 17px 26px;
  height: 65px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__brand {
  color: #111111;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  span {
    font-weight: 800;
  }

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }
}

.header__nav {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 2;
  transition: top 0.4s ease 0s;

  &--active {
    top: 65px;
  }

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
}

.header__nav-list {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__nav-item {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 22px 10px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    border: none;
  }
}

.header__nav-link {
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.header__nav-item--active a {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #68b738;
    }
  }
}

.header__toggle {
  position: relative;
  width: 26px;
  height: 16px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle-line {
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.4s ease 0s;

  &:first-child {
    top: 0;
  }

  &:last-child {
    top: auto;
    bottom: 0;
  }
}

.header__toggle--active {
  .header__toggle-line {
    transform: scale(0);

    &:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }

    &:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}

.header--nojs {
  & .header__toggle {
    display: none;
  }

  & .header__nav {
    position: static;
  }
}
