.nav__item {
  font-size: 20px;
  font-weight: 500;
}

.nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
