.benefit {
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 3px;
  width: 124px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.benefit__result {
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.benefit__process {
  position: absolute;
  bottom: 0;
  transform: translateY(17px);
  text-transform: lowercase;
  display: inline-block;
  text-align: center;
  background-color: #eaeaea;
  padding: 0 10px;
  font-family: "Arial", serif;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  width: 77px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: auto;
    transform: translateY(50%);
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}
