.cat-from {
  label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.cat-form__legend {
  font-size: 24px;
  line-height: 26px;
}

.cat-form__small {
  font-size: 14px;
  line-height: 16px;
}
