.catalog__title {
  font-size: 36px;
}

.catalog__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
}

.catalog__item {
  background-color: $basic-grey;
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
}

.catalog__item-property {
  font-size: 12px;
}

.catalog__item-more-title {
  font-size: 16px;
  line-height: 20px;
}
