.catalog__title {
  font-size: 36px;
}

.catalog__item {
  background-color: $basicGrey;
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
}

.catalog__item-property {
  font-size: 12px;
}

.catalog__item-more-title {
  font-size: 16px;
  line-height: 20px;
}
