.catalog-item {
  background-color: $basicGrey;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
}

.catalog-item__property {
  font-size: 12px;
}

.catalog-item__more-title {
  font-size: 16px;
  line-height: 20px;
}
