.extra {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.extra__title {
  font-size: 24px;
}


.extra__item-title {
  font-size: 16px;
  text-transform: uppercase;
}

.extra__item-content {
  font-size: 14px;
  color: $special-dark-grey;
}
