.intro {
  height: 302px;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/intro/intro-background-mobile.jpg");
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/intro/intro-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    height: 696px;
    align-items: flex-start;

    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/intro/intro-background-desktop.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/intro/intro-background-desktop@2x.jpg");
    }
  }
}

.intro__title {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.intro__sub-title {
  margin-bottom: 29px;
}

.intro__image {
  max-height: 270px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 30%;
  }
}

.intro__button {
  align-items: flex-start;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
