.intro {
  background-color: $basic-green;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  @media (min-width: $desktop-width) {
    min-height: 300px;
    align-items: flex-start;
  }
}

.intro__title {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.intro__sub-title {
  margin-bottom: 29px;
}

.intro__image {
  max-height: 270px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 30%;
  }
}

.intro__button {
  align-items: flex-start;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
